.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.search-Bar {
  border: 1px solid #ced4da; /* Add border */
  border-radius: 5px; /* Add border-radius */
  padding: 5px; /* Add padding */
}

.dropDown-button {
  background-color: #007bff; /* Change background color */
  border-color: #007bff; /* Change border color */
  border-radius: 5px; /* Add border-radius */
}

.dropDown-button:hover {
  background-color: #0056b3; /* Change background color on hover */
  border-color: #0056b3; /* Change border color on hover */
}