.product1-container {
    display: flex;
    justify-content: center;
  }
  
  


  .about-container {
    display: bottom;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  
  
  
  
  .content {
    width: 100%;
    max-width: 1400px;
  }
  
  .description-container,
  .section-container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section-container {
    text-align: center;
  }
  
  .description p {
    line-height: 1.6;
  }
  
  .contact-info {
    margin-top: 10px;
  }
  
  .contact-item {
    margin: 5px 0;
  }
  
  .contact-item span {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .video-container {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-container iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 8px;
  }
  