.navbar {
    background-color: rgb(223, 170, 91); /* Dark background color */
    padding: 10px 0; /* Adjust top and bottom padding */
  }
  
  /* Navbar links */
  .navbar-brand,
  .nav-link {
    color: #ffffff; /* White text color */
    margin-right: 20px; /* Right margin between links */
  }
  
  /* Active link style */
  .nav-link.active {
    font-weight: bold; /* Bold font for active link */
  }
  
  /* Search bar style */
  .form-inline .form-control {
    margin-right: 10px; /* Right margin between input and button */
  }
  
  /* Dropdown button style */
  .dropdown-toggle {
    background-color: #2d2511; /* Button background color */
    border-color: #0f0f0f; /* Button border color */
    border-radius: 5px; /* Button border radius */
    margin-left: 10px; /* Left margin between search bar and dropdown */
  }
  
  /* Cart button style */
  .cart-button {
    color:rgb(15, 15, 15); /* White text color */
    background-color: transparent; /* Transparent background */
    border: none; /* Remove button border */
    margin-left: auto; /* Align cart button to the right */
  }